* {
    margin: 0;
    padding: 0;
    outline: 0;
}

a {
    text-decoration: none;
    display: block;
}

ul ol {
    list-style: none;
}



/* common css */


.full_web {
    width: 1160px;
    border: 3px solid black;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
}

/* header part start */

.header_part {
    background: red;
    height: 50px;
    width: 100%;
    padding: 10px 0;
}

.logo {
    width: 40%;
    float: left;
    padding: 10px 15px;
}

.logo h1 {
    color: wheat;
}

.banner {
    width: 50%;
    float: right;
}

/* header part end */

/* menu part start */

.main_menu {
    background: green;

    height: 60px;
}

.menu ul li {
    float: left;
    display: inline-block;
}

.menu ul li a {
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 0px 10px;
    line-height: 60px;
    border-right: 1px solid black;
}

.menu ul li a:hover {
    color: yellow;
    background: red;
}

/* menu part end */

/* slider part start */
.slider_part {
    background: rgb(131, 129, 129);
    width: 100%;
    height: auto;

}


/* slider part end */

.galary_part {
    height:auto;
   
}

.left_side {
	background: #d0f1f9;
	width: 62%;
	float: left;
	height: 915px;
}

           
.left_side img {
	width: 41%;
	height: 150px;
	float: right;
	margin: 15px 15px;
	padding: 15px;
	background: #6f716f;


	border: 3px solid black;
}

.left_side p {
	font-size: 18px;
	text-align: justify;
	padding: 10px 15px;
	line-height: 25px;
}



.readmore {
	margin-top: 4px;
	margin-left: 15px;
}

.left_side a {
	color: #f3f4ea;
	border: 2px solid black;
	border-radius: 15px;
	padding: 10px 10px;
	width: 80px;
	background: rgb(58, 160, 219);
	margin-bottom: 10px;
}

.left_elemnt{
    margin-top: 10px;
}

.right_side {
	background: #d2cac9;
	width: 32%;
	float: right;
	height: 915px;
	padding-left: 25px;
}

.right_elemnt{
    margin-top: 5px;
}

.right_elemnt h2 {
	color: white;
	background: red;
	border: 2px solid black;
	margin-top: 15px;
	width: 75%;
    text-align: center;
    margin-left: -25px;
}

.right_elemnt ul li{
    padding: 5px 0px;
}

.right_elemnt ul li a{
    color: black;
    text-decoration: none;
}

/* fifth room */

.fifth_room {
	clear: both;
	height: auto;
	background: #70b9dd;
	display: flex;
	padding: 50px 15px;
	margin-top: 25px;
}

.box{
    margin-left: 10px;
}

.box h2{
    color: white;
    border-bottom: 2px solid red;
    width: 72%;
}

.box ul{
    padding: 5px 15px;

}
.box ul li{
    padding: 10px 5px;
}

.box ul li a{
    color: black;
}

/* fotter part */

.footer_part{
    background: red;
    text-align: center;
}

.footer_part h4{
    color: white;
    font-size: 15px;
    font-weight: 500;
}

/* about part */

.about_part {
	width: 70%;
	margin: 0 auto;
	background: rgb(48, 52, 72);
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 15px 15px;
	border: 2px solid #ec4f4f;
	border-radius: 25px;
}

.about h2:hover{
    background: red;
    color: green;
}

.about h2{
    color: rgb(199, 193, 218);
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    border: 2px solid red;
    border-radius: 15px;
    padding: 5px 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.about p{
    color: rgb(221, 221, 221);
    font-size: 15px;
    font-weight: 500;
    padding: 5px 0;
    text-align: justify;

}

/* contuct us */

label{
    color: white;
}

.form {
	width: 31%;
	margin: 0 auto;
	border: 2px solid #afb3af;
	border-radius: 60px 0px 60px;
	padding: 30px 30px;
}

input {
	width: 100%;
	padding: 5px 5px;
	border: 2px solid rgb(145, 89, 36);
	border-radius: 20px;
	background: rgb(108, 106, 108);
	color: white;
}
textarea{
    width: 100%;
    padding: 5px 5px;
    border: 2px solid rgb(145, 89, 36);
    border-radius: 20px;
    background: rgb(108, 106, 108);
    margin-bottom: 10px;
    color: white;

}

.btn{
    font-size: 18px;
}

.btn:hover{
    background: red;
    
}